@import "../../node_modules/@likethemammal/overwatch-general/lib/colors.less";

//todo: handle row hover styles in component so styles from
//props can be handled and not overwritten by !important below
.row {
    &:hover {
        background: @white_faded_row_hover;
    }
}

.column_head {
    &:hover {
        background: @blue_faded_hover !important;
    }
}

.label {
    display: inline-block;
    vertical-align: middle;
}

.icon_container {
    composes: _icon_container from '@likethemammal/overwatch-general/lib/general.css';
}

.icon_empty {
    opacity: 0;
}
